{% extends 'main.html' %}

{% block content %}
<div class="container mx-auto px-4 sm:px-6 xl:px-24 py-10 space-y-10 text-justify">
    <!-- Section: Dasar Hukum -->
    <section class="bg-white shadow-md rounded-2xl p-6">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b pb-2">Dasar Hukum</h2>
        <ol class="list-decimal list-inside text-gray-700 space-y-2">
            <li>UU Pesantren Nomor 18 Tahun 2019 Tentang Pesantren</li>
            <li>Peraturan Menteri Agama Republik Indonesia Nomor 30 Tahun 2020 Tentang Pendirian dan Penyelenggaraan Pesantren</li>
            <li>Peraturan Menteri Agama Republik Indonesia Nomor 31 Tahun 2020 Tentang Pendidikan Pesantren</li>
            <li>Peraturan Menteri Agama Republik Indonesia Nomor 32 Tahun 2020 Tentang Ma’had Aly</li>
            <li>Keputusan Ketua Dewan Pengasuh Nomor 02 Tahun 2023 Tentang Perubahan Qanun Asasi</li>
            <li>Keputusan Pengasuh PP. Nurul Jadid Nomor 02 Tahun 2021 dan Nomor 03 Tahun 2023</li>
            <li>Peraturan Kepala Pesantren Nomor 20 Tahun 2021 Tentang Panduan Administrasi</li>
        </ol>
    </section>
</div>
{% endblock %}
