{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid grid-cols-1 mb-4 sm:grid-cols-2 md:grid-cols-3 gap-x-6 gap-y-4 px-6 sm:px-12 md:px-20">
    <div class="bg-shortMenu min-h-28 sm:h-32 rounded-b-lg flex items-center w-auto">
        <div class="bg-shortMenuIcon rounded-bl-lg w-20 sm:w-24 h-full flex-none flex items-center justify-center p-2">
            <img src="{% static 'img/dash/people.png' %}" alt="" class="max-h-16 sm:max-h-20">
        </div>
        <div class="text-md sm:text-lg p-3 sm:p-5 text-center">
            Keputusan Dewan Pengasuh & Pengasuh
        </div>
    </div>
    <div class="bg-shortMenu min-h-28 sm:h-32 rounded-b-lg flex items-center w-auto">
        <div class="bg-shortMenuIcon rounded-bl-lg w-20 sm:w-24 h-full flex-none flex items-center justify-center p-2">
            <img src="{% static 'img/dash/hammer.png' %}" alt="" class="max-h-16 sm:max-h-20">
        </div>
        <div class="text-md sm:text-lg p-3 sm:p-5 text-center">
            Peraturan Kepala Pesantren
        </div>
    </div>
    <div class="bg-shortMenu min-h-28 sm:h-32 rounded-b-lg flex items-center w-auto">
        <div class="bg-shortMenuIcon rounded-bl-lg w-20 sm:w-24 h-full flex-none flex items-center justify-center p-2">
            <img src="{% static 'img/dash/paper.png' %}" alt="" class="max-h-16 sm:max-h-20">
        </div>
        <div class="text-md sm:text-lg p-3 sm:p-5 text-center">
            Peraturan Biro, Badan, dan Banom
        </div>
    </div>
    <div class="bg-shortMenu min-h-28 sm:h-32 rounded-b-lg flex items-center w-auto">
        <div class="bg-shortMenuIcon rounded-bl-lg w-20 sm:w-24 h-full flex-none flex items-center justify-center p-2">
            <img src="{% static 'img/dash/shield.png' %}" alt="" class="max-h-16 sm:max-h-20">
        </div>
        <div class="text-md sm:text-lg p-3 sm:p-5 text-center">
            Peraturan Satuan Pendidikan
        </div>
    </div>
    <div class="bg-shortMenu min-h-28 sm:h-32 rounded-b-lg lg:flex items-center w-auto hidden">
        <div class="bg-shortMenuIcon rounded-bl-lg w-20 sm:w-24 h-full flex-none flex items-center justify-center p-2">
            <img src="{% static 'img/dash/paper-checklist.png' %}" alt="" class="max-h-16 sm:max-h-20">
        </div>
        <div class="text-md sm:text-lg p-3 sm:p-5 text-center">
            Standard Operating Procedure (SOP)
        </div>
    </div>
    <div class="bg-shortMenu min-h-28 sm:h-32 rounded-b-lg lg:flex items-center w-auto hidden">
        <div class="bg-shortMenuIcon rounded-bl-lg w-20 sm:w-24 h-full flex-none flex items-center justify-center p-2">
            <img src="{% static 'img/dash/clipart.png' %}" alt="" class="max-h-20 sm:max-h-20">
        </div>
        <div class="text-md sm:text-lg p-3 sm:p-5 text-center">
            Kompilasi Peraturan Pesantren
        </div>
    </div>
</div>
<div class="lg:flex justify-center hidden">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-x-6 gap-y-4 px-6 sm:px-12 md:px-20">
        <div class="bg-shortMenu min-h-28 sm:h-32 rounded-b-lg flex items-center">
            <div class="bg-shortMenuIcon rounded-bl-lg w-20 sm:w-24 h-full flex-none flex items-center justify-center p-2">
                <img src="{% static 'img/dash/paper-pencil.png' %}" alt="" class="max-h-16 sm:max-h-20">
            </div>
            
            <div class="text-md sm:text-lg p-3 sm:p-5 text-center">
                Keputusan Pimpinan
            </div>
        </div>
        <div class="bg-shortMenu min-h-28 sm:h-32 rounded-b-lg flex items-center">
            <div class="bg-shortMenuIcon rounded-bl-lg w-20 sm:w-24 h-full flex-none flex items-center justify-center p-2">
                <img src="{% static 'img/dash/roll-paper.png' %}" alt="" class="max-h-16 sm:max-h-20">
            </div>
            
            <div class="text-md sm:text-lg p-3 sm:p-5 text-center">
                Lembar Pesantren
            </div>
        </div>
    </div>
</div>
<hr class="mt-8 mb-2 border-t-4 border-black" />
<div class="text-center font-serif font-inria ">
    <p class="text-4xl underline decoration-2 underline-offset-4">INFORMASI UMUM</p>
    <p class="text-xl underline decoration-2 underline-offset-4">--Terbaru--</p>
</div>
<div class="flex justify-center my-4 text-white font-bold">
    <div class="bg-labelTabel h-10 w-full mr-1 flex justify-end items-center pr-4">Keputusan</div>
    <div class="bg-labelTabel h-10 w-full mr-1 flex justify-center items-center">Peraturan Kepala</div>
    <div class="bg-labelTabel h-10 w-full mr-1 hidden md:flex justify-center items-center">Peraturan Biro & Banom</div>
    <div class="bg-labelTabel h-10 w-full mr-1 hidden md:flex items-center justify-center">Peraturan Satuan Pendidikan</div>
    <div class="bg-labelTabel h-10 w-full flex items-center pl-4">Lembar Pesantren</div>
</div>

<table class="w-full mb-20">
    <tbody>
        <tr class="text-black border-b-2 border-gray-600">
            <td style="width: 85%;" class="px-4 md:px-0 md:pr-10">
                <p class="font-bold text-lg sm:text-xl">Peraturan Pengasuh Tentang Pulangan </p>
                <p class="text-md sm:text-lg text-justify md:block hidden">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. A obcaecati enim consectetur suscipit cumque, quo saepe maiores voluptates autem temporibus necessitatibus totam possimus, asperiores, ut mollitia alias labore ipsa iste!
                </p>
                <p class="text-md sm:text-lg text-justify md:hidden block">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    <span class="read-more text-blue-600 underline" style="cursor: pointer;">Read more</span>
                    <span class="read-more-content hidden">
                        A obcaecati enim consectetur suscipit cumque, quo saepe maiores voluptates autem temporibus necessitatibus totam possimus, asperiores, ut mollitia alias labore ipsa iste!
                    </span>
                </p>
            </td>
            <td style="width: 15%;" class="px-2 md:px-0">
                <div class="flex flex-col justify-center my-2">
                    <button class="bg-navBlue View py-2 px-4 rounded-md text-white font-bold mb-2"><i class="fas fa-eye"></i> View</button>
                    <button class="bg-navGray Download py-2 px-4 rounded-md text-white font-bold"><i class="fas fa-download"></i> Download</button>
                </div>
            </td>
        </tr>
        <tr class="text-black border-b-2 border-gray-600">
            <td style="width: 85%;" class="px-4 md:px-0 md:pr-10">
                <p class="font-bold text-lg sm:text-xl">Peraturan Pengasuh Tentang Pulangan </p>
                <p class="text-md sm:text-lg text-justify md:block hidden">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. A obcaecati enim consectetur suscipit cumque, quo saepe maiores voluptates autem temporibus necessitatibus totam possimus, asperiores, ut mollitia alias labore ipsa iste!
                </p>
                <p class="text-md sm:text-lg text-justify md:hidden block">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    <span class="read-more text-blue-600 underline" style="cursor: pointer;">Read more</span>
                    <span class="read-more-content hidden">
                        A obcaecati enim consectetur suscipit cumque, quo saepe maiores voluptates autem temporibus necessitatibus totam possimus, asperiores, ut mollitia alias labore ipsa iste!
                    </span>
                </p>
            </td>
            <td style="width: 15%;" class="px-2 md:px-0">
                <div class="flex flex-col justify-center my-2">
                    <button class="bg-navBlue View py-2 px-4 rounded-md text-white font-bold mb-2"><i class="fas fa-eye"></i> View</button>
                    <button class="bg-navGray Download py-2 px-4 rounded-md text-white font-bold"><i class="fas fa-download"></i> Download</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<script>
    const readMore = document.querySelector('.read-more');
    const readMoreContent = document.querySelector('.read-more-content');

    readMore.addEventListener('click', () => {
        readMoreContent.classList.toggle('hidden');
    });
</script>


{% endblock content %}
