{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-3 gap-x-12 gap-y-4 px-20">
    <div class="bg-shortMenu h-32 rounded-b-lg flex items-center">
        <div class="bg-shortMenuIcon rounded-bl-lg w-24 h-32 flex-none flex items-center justify-center p-4">
            <img src="{% static 'img/dash/people.png' %}" alt="" class="h-20">
        </div>
        
        <div class="text-lg p-5 text-center">
            Keputusan Dewan Pengasuh & Pengasuh
        </div>
    </div>
    <div class="bg-shortMenu h-32 rounded-b-lg flex items-center">
        <div class="bg-shortMenuIcon rounded-bl-lg w-24 h-32 flex-none flex items-center justify-center p-2">
            <img src="{% static 'img/dash/hammer.png' %}" alt="" class="h-20 w-20">
        </div>
        
        <div class="text-lg p-5 text-center">
            Peraturan Kepala Pesantren
        </div>
    </div>
    <div class="bg-shortMenu h-32 rounded-b-lg flex items-center">
        <div class="bg-shortMenuIcon rounded-bl-lg w-24 h-32 flex-none flex items-center justify-center">
            <img src="{% static 'img/dash/paper.png' %}" alt="" class="h-20">
        </div>
        
        <div class="text-lg p-5 text-center">
            Peraturan Biro, Badan, dan Banom
        </div>
    </div>
    <div class="bg-shortMenu h-32 rounded-b-lg flex items-center">
        <div class="bg-shortMenuIcon rounded-bl-lg w-24 h-32 flex-none flex items-center justify-center p-3">
            <img src="{% static 'img/dash/shield.png' %}" alt="" class="h-20">
        </div>
        
        <div class="text-lg p-5 text-center">
            Peraturan Satuan Pendidikan
        </div>
    </div>
    <div class="bg-shortMenu h-32 rounded-b-lg flex items-center">
        <div class="bg-shortMenuIcon rounded-bl-lg w-24 h-32 flex-none flex items-center justify-center">
            <img src="{% static 'img/dash/paper-checklist.png' %}" alt="" class="h-20">
        </div>
        
        <div class="text-lg p-5 text-center">
            Standard Operating Procedure (SOP)
        </div>
    </div>
    <div class="bg-shortMenu h-32 rounded-b-lg flex items-center">
        <div class="bg-shortMenuIcon rounded-bl-lg w-24 h-32 flex-none flex items-center justify-center p-2">
            <img src="{% static 'img/dash/clipart.png' %}" alt="" class="h-16">
        </div>
        
        <div class="text-lg p-5 text-center">
            Kompilasi Peraturan Pesantren
        </div>
    </div>
</div>
<hr class="mt-8 mb-2 border-t-4 border-black" />
<div class="text-center font-serif font-inria ">
    <p class="text-4xl underline decoration-2 underline-offset-4">INFORMASI UMUM</p>
    <p class="text-xl underline decoration-2 underline-offset-4">--Terbaru--</p>
</div>
<div class="flex justify-center">
    <div class="bg-box h-32 w-64 mr-4 rounded-lg" style="flex: 1">1</div>
    <div class="bg-box h-32 w-64 mr-4 rounded-lg" style="flex: 1">2</div>
    <div class="bg-box h-32 w-64 mr-4 rounded-lg" style="flex: 1">3</div>
    <div class="bg-box h-32 w-64 mr-4 rounded-lg" style="flex: 1">4</div>
    <div class="bg-box h-32 w-64 rounded-lg" style="flex: 1">5</div>
</div>
{% endblock content %}
