{% extends 'main.html' %}

{% block content %}
<div class="container mx-auto mt-6 flex flex-col md:flex-row gap-6 px-4 sm:px-6 xl:px-24">
    <!-- Sidebar Rekapitulasi -->
    <div class="flex flex-col gap-4 w-full md:w-1/3">
        <!-- Kotak Rekapitulasi -->
        <div class="bg-white p-4 rounded-lg shadow-md">
            <h2 class="text-lg font-semibold">Rekapitulasi (Jumlah Dokumen)</h2>
            <hr class="mb-3 border-t-2 border-gray-900">
            {% for r in rekapitulasi %}
                <p class="text-gray-700 flex justify-between">
                    <span>{{ r.kategori_peraturan__nama.split|slice:":3"|join:" " }}:</span>
                    <span class="font-bold">{{ r.jumlah }}</span>
                </p>
            {% endfor %}
        </div>
    </div>

    <!-- Daftar Peraturan -->
    <div class="bg-white p-4 rounded-lg shadow-md mb-20 md:mb-0 w-full">
        <div class="flex flex-col justify-start items-start mb-4">
            <h2 class="text-xl font-semibold">{{kategori}}</h2>
            <input type="text" id="searchInput" placeholder="Cari peraturan..." class="mt-2 p-2 border rounded w-full md:w-1/2">
        </div>

        <div class="overflow-x-auto">
            <table class="w-full border border-gray-300 rounded-lg shadow-md">
                <thead class="bg-gray-200 text-gray-700 border-b-2 border-gray-300">
                    <tr>
                        <th class="p-3 border border-gray-300 text-xs md:text-base">No</th>
                        <th class="p-3 border border-gray-300 text-xs md:text-base">Nama Peraturan</th>
                        <th class="p-3 border border-gray-300 text-xs md:text-base">File</th>
                    </tr>
                </thead>
                <tbody id="peraturanTable">
                    {% if peraturan_list %}
                        {% for peraturan in peraturan_list %}
                        <tr class="odd:bg-white even:bg-gray-100">
                            <td class="p-3 border text-center w-10 text-xs md:text-base">{{ peraturan_list.start_index|add:forloop.counter0 }}</td>
                            <td class="p-3 border">
                                <div class="flex flex-col text-justify">
                                    <span class="font-semibold text-xs md:text-base">{{ peraturan.kategori_peraturan.nama }} Nomor {{ peraturan.nomor_peraturan }} Tahun {{ peraturan.tahun }} <br> Tentang {{ peraturan.nama_peraturan }}</span>
                                    <hr class="my-2 border-t-2 border-gray-900">
                                    <span class="text-gray-600 text-xs md:text-sm" id="teksPdf{{ forloop.counter }}">
                                        {{ peraturan.teks_pdf|truncatewords:20 }}
                                    </span>
                                    {% if peraturan.teks_pdf|wordcount > 20 %}
                                        <button class="text-blue-500 text-xs md:text-sm" onclick="toggleReadMore({{ forloop.counter }}, `{{ peraturan.teks_pdf|escapejs }}`)">Read more</button>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="p-3 border text-center w-20 lg:w-24">
                                <div class="flex flex-col">
                                    <a href="{{ peraturan.file_pdf.url }}" class="bg-navBlue hover:bg-blue-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded block w-14 md:w-16 mx-auto lg:w-full mb-2" target="_blank">
                                        <div class="flex items-center justify-center">
                                            <i class="fas fa-eye mx-auto lg:mr-2 lg:mx-0"></i>
                                            <span class="hidden lg:block">View</span>
                                        </div>
                                    </a>
                                    <a href="{{ peraturan.file_pdf.url }}" download class="bg-navGray hover:bg-blue-700 text-white font-bold py-1 px-2 md:py-2 md:px-4 rounded block w-14 md:w-16 mx-auto lg:w-full">
                                        <div class="flex items-center justify-center">
                                            <i class="fas fa-download mx-auto lg:mr-2 lg:mx-0"></i>
                                            <span class="hidden lg:block">Download</span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" class="p-3 border text-center text-gray-700 text-xs md:text-base">
                                Tidak ada peraturan yang ditemukan.
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Pagination Controls -->
        {% if peraturan_list.paginator.num_pages > 1 %}
        <div class="flex justify-center md:justify-end mt-4">
            <div class="flex space-x-1 md:space-x-2 text-xs md:text-base">
                {% if peraturan_list.has_previous %}
                <a href="?page=1" class="px-2 py-1 md:px-4 md:py-2 bg-gray-200 text-gray-700 rounded">First</a>
                <a href="?page={{ peraturan_list.previous_page_number }}" class="px-2 py-1 md:px-4 md:py-2 bg-gray-200 text-gray-700 rounded">Previous</a>
                {% endif %}

                {% for num in peraturan_list.paginator.page_range %}
                {% if peraturan_list.number == num %}
                <span class="px-2 py-1 md:px-4 md:py-2 bg-blue-500 text-white rounded">{{ num }}</span>
                {% elif num > peraturan_list.number|add:"-3" and num < peraturan_list.number|add:"3" %}
                <a href="?page={{ num }}" class="px-2 py-1 md:px-4 md:py-2 bg-gray-200 text-gray-700 rounded">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if peraturan_list.has_next %}
                <a href="?page={{ peraturan_list.next_page_number }}" class="px-2 py-1 md:px-4 md:py-2 bg-gray-200 text-gray-700 rounded">Next</a>
                <a href="?page={{ peraturan_list.paginator.num_pages }}" class="px-2 py-1 md:px-4 md:py-2 bg-gray-200 text-gray-700 rounded">Last</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function toggleReadMore(counter, fullText) {
        try {
            const span = document.getElementById(`teksPdf${counter}`);
            const button = span.nextElementSibling;

            if (!span || !button) return;

            if (button.dataset.expanded === "true") {
                // Collapse to truncated text
                const truncatedText = fullText.split(/\s+/).slice(0, 20).join(" ");
                span.innerText = truncatedText + (fullText.split(/\s+/).length > 20 ? "..." : "");
                button.innerText = "Read more";
                button.dataset.expanded = "false";
            } else {
                // Expand to full text but limit to 150 words
                const limitedText = fullText.split(/\s+/).slice(0, 150).join(" ");
                span.innerText = limitedText + (fullText.split(/\s+/).length > 150 ? "..." : "");
                button.innerText = "Read less";
                button.dataset.expanded = "true";
            }
        } catch (e) {
            console.error("Error in toggleReadMore:", e);
        }
    }
</script>
{% endblock %}