{% load static %}
<nav class="md:mt-10 3xl:-space-x-10 mx-auto md:px-8 lg:px-12">
  <div class="w-full max-w-screen-3xl mx-auto bg-no-repeat md:rounded-[10px] md:aspect-[4/1] aspect-[3/1] mb-3" style="background-image: url('{% static 'img/re-lhp.jpg' %}'); background-size: cover; background-position: center;" loading="lazy"></div>
  <div class="relative flex items-center justify-between h-2 sm:h-12">
    <div class="flex-1 flex items-center md:justify-center">
      <div class="hidden md:flex">
        <ul class="flex items-center space-x-4">
          <!-- Beranda -->
          <li>
            <a href="{% url 'dashboard' %}" class="px-3 rounded-md text-lg font-medium
              {% if menu == 'dashboard' %} bg-navBlue text-white py-1 {% else %} text-navBlue {% endif %}
              hover:bg-navBlue hover:text-white hover:py-1">
              Beranda
            </a>
          </li>

          <!-- Profil Dropdown -->
          <li class="relative" id="profil-dropdown-container">
            <a href="#" onclick="toggleNavbarSubMenu(event, 'submenu-profil')" class="px-3 rounded-md text-lg font-medium
              {% if menu == 'profil-lembaga' %} bg-navBlue text-white py-1 {% else %} text-navBlue {% endif %}
              hover:bg-navBlue hover:text-white hover:py-1">
              Profil
            </a>
            <ul id="submenu-profil" class="absolute left-1/2 transform -translate-x-1/2 mt-2 bg-white text-navBlue rounded-md shadow-lg hidden w-80 z-50">
              <li>
                <a href="{% url 'profil_latar_belakang' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/latar-belakang-lhpnj/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Tentang Latar Belakang
                </a>
              </li>

              <li>
                <a href="{% url 'profil_visi_misi' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/visi-misi-lhpnj/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Tujuan, Visi & Misi
                </a>
              </li>
              <li>
                <a href="{% url 'profil_dasar_hukum' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/dasar-hukum-lhpnj/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Dasar Hukum
                </a>
              </li>
            </ul>
          </li>

          <!-- Dokumen Hukum Dropdown -->
          <li class="relative" id="dropdown-container">
            <a href="#" onclick="toggleNavbarSubMenu(event, 'submenu-dokumen')" class="px-3 rounded-md text-lg font-medium
              {% if menu == 'kategori-peraturan' and request.path != '/kategori-peraturan/rh/' %} bg-navBlue text-white py-1 {% else %} text-navBlue {% endif %}
              hover:bg-navBlue hover:text-white hover:py-1">
              Dokumen Hukum
            </a>
            <ul id="submenu-dokumen" class="absolute left-1/2 transform -translate-x-1/2 mt-2 bg-white text-navBlue rounded-md shadow-lg hidden w-96 z-50">

              <li>
                <a href="{% url 'daftar_peraturan' 'kdp' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/kategori-peraturan/kdp/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Keputusan Dewan Pengasuh & Pengasuh
                </a>
              </li>

              <li>
                <a href="{% url 'daftar_peraturan' 'pkp' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/kategori-peraturan/pkp/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Peraturan Kepala Pesantren
                </a>
              </li>

              <li>
                <a href="{% url 'daftar_peraturan' 'pbb' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/kategori-peraturan/pbb/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Peraturan Biro, Badan & Banom
                </a>
              </li>

              <li>
                <a href="{% url 'daftar_peraturan' 'psp' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/kategori-peraturan/psp/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Peraturan Satuan Pendidikan
                </a>
              </li>

              <li>
                <a href="{% url 'daftar_peraturan' 'nk' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/kategori-peraturan/nk/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Nota Kesepahaman (MoU)
                </a>
              </li>

              <li>
                <a href="{% url 'daftar_peraturan' 'sop' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/kategori-peraturan/sop/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Standard Operating Procedure
                </a>
              </li>

              <li>
                <a href="{% url 'daftar_peraturan' 'kp' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/kategori-peraturan/kp/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Keputusan Pimpinan
                </a>
              </li>

              <li>
                <a href="{% url 'daftar_peraturan' 'lp' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/kategori-peraturan/lp/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Lembar Pesantren
                </a>
              </li>

              <li>
                <a href="{% url 'kompilasi_peraturan' %}" class="block px-4 py-2 hover:bg-gray-500 hover:text-white
                  {% if request.path == '/kompilasi-peraturan-pesantren/' %}
                  bg-gray-500 text-white py-1
                  {% else %}
                  text-gray-900
                  {% endif %}">
                  Kompilasi Peraturan Pesantren
                </a>
              </li>

            </ul>
          </li>

          <!-- Rancangan Hukum -->
          <li>
            <a href="#" class="px-3 rounded-md text-lg font-medium text-navBlue hover:bg-navBlue hover:text-white hover:py-1">
              Lembar Pesantren
            </a>
          </li>

          <!-- Login/Logout -->
          <li>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" class="inline">
              {% csrf_token %}
              <button type="submit" class="px-3 rounded-md bg-navBlue text-lg font-medium text-white flex items-center" title="Logout">
                <i class="fas fa-user" style="margin-top: 6px; margin-bottom: 6px;"></i>
              </button>
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="px-3 rounded-md bg-navBlue text-lg font-medium text-white flex items-center" title="Login">
              <i class="fas fa-user" style="margin-top: 6px; margin-bottom: 6px;"></i>
            </a>
            {% endif %}
          </li>

        </ul>
      </div>
      <!-- Hamburger Button for Mobile -->
      <button type="button" class="md:hidden text-navBlueLight flex ml-auto mr-6 text-2xl" style="margin-top: -15rem" onclick="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>

  <!-- Search Box di Dashboard -->
  {% if menu == 'dashboard' %}
  <form action="#" method="GET" id="navbar-search-form" class="sm:mt-2 flex justify-center relative" onsubmit="return false;">
    <div class="relative w-4/6 md:w-3/6">
      <input type="text" id="search-input" name="q" placeholder="Cari peraturan..." class="px-3 py-2 pr-10 rounded-md text-lg w-full border border-gray-300 focus:ring focus:ring-blue-300" autocomplete="off" />
      <button type="button" id="clear-search" class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500 hover:text-gray-700">
        <i class="fas fa-times"></i>
      </button>
      <div id="search-results" class="absolute bg-white w-full mt-1 shadow-lg rounded-md hidden z-50"></div>
    </div>
  </form>
  {% endif %}
</nav>

