{% load static %}
<nav class="md:mt-10">
  <div
    class="max-w-7xl mx-auto bg-gradient-to-r from-navBlue via-navBlueLight to-navGray sm:h-72 h-52 md:rounded-lg"
  >
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center md:items-stretch md:justify-start">
        <div class="flex items-center md:ml-12 ml-5">
          <img
            src="{% static 'img/nj.png' %}"
            alt="Logo"
            class="mt-12 md:h-20 md:w-20 h-16 w-16"
          />
          <a
            href="/"
            class="text-white mt-12 px-3 py-2 rounded-md text-xl font-medium lg:text-2xl"
            style="font-family: 'Rakkas'"
          >
            <span>LHP</span>
            <span style="display: block; height: 0.3em"></span>
            PP. Nurul Jadid
          </a>
        </div>
        <div class="sm:hidden hidden md:block md:ml-auto mt-20 pr-10">
          <a
            href="/cari/"
            class="text-white px-3 py-2 rounded-md text-lg font-medium"
            >Beranda</a
          >
          <a
            href="/cari/"
            class="text-white px-3 py-2 rounded-md text-lg font-medium"
            >Profil</a
          >
          <a
            href="/cari/"
            class="text-white px-3 py-2 rounded-md text-lg font-medium"
            >Rancangan Hukum</a
          >
          <a
            href="/cari/"
            class="text-white px-3 py-2 rounded-md text-lg font-medium"
            >Kategori</a
          >
          <a
            href="/cari/"
            class="text-white px-3 py-2 rounded-md text-lg font-medium"
            >Hubungi Kami</a
          >
        </div>
        <button
          type="button"
          class="md:hidden text-white mt-10 text-2xl flex ml-auto mr-10"
          onclick="toggleSidebar()"
        >
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
    <hr class="mt-12 border-t-4 border-white" />
    <form
      action="/cari/"
      method="GET"
      class="sm:mt-12 mt-5 flex justify-center"
    >
      <input
        type="text"
        name="q"
        placeholder="Cari peraturan..."
        class="px-3 py-2 rounded-md text-lg w-4/6 md:w-3/6"
      />
    </form>
  </div>
</nav>
