<nav class="sm:mt-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-10 bg-gradient-to-r from-navBlue via-navBlueLight to-navGray">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex items-center">
          <a href="/" class="text-white px-3 py-2 rounded-md text-sm font-medium">
            LHP Pondok Pesantren Nurul Jadid
          </a>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <a href="/cari/" class="text-gray-300 px-3 py-2 rounded-md text-sm font-medium">Cari Peraturan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
